// $orange: #cc3a00;
$orange: #36f;
$background-color: rgba(24, 24, 24, 0.897);
// $background-color: #222b45;
$titleback: rgba(24, 24, 24, 0.918);
// $titleback: #151a30;
$titlecolors: rgb(170, 170, 170);
$form-color: rgba(3, 1, 19, 0.932);
$nav-back: rgba(0, 0, 0, 0.836);
$sign-back: rgb(189, 189, 189);
$input-color: rgb(201, 201, 201);
