*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
a{
    text-decoration: none;
    
}
html{
    scroll-behavior: smooth;
    font-size: 62.5%;

    @include respond(tab-land){
        font-size: 56.25%;
    }
    @include respond(tab-port){
        font-size: 50%;  
    }
    @include respond(big-desktop){
        font-size: 75%;
    }
}