
.submit-btn{
        padding: .7rem 1.2rem;
        outline: none;
        background-color: unset;
        border: 1px solid grey;
        color: grey;
        display: inline-block;
        border-radius: 3px;
        font-family: iransans;
        font-size: 2rem;
        text-align: center;
        font-weight: bolder;
        direction: ltr;
        &:hover{
            border: 1px solid blueviolet;
            color: blueviolet;
        }
}