.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    height: 48rem;
    max-width: 90%;
    margin: 0 auto;
    position: relative;
    

    &:not(:last-child){
        margin-bottom: 5rem;
    }
    p{
        font-size: 4rem;
        color: whitesmoke;
        position: absolute;
        top: 40%;
        right: 1rem;
        display: inline-block;
    }


    &-side{
    height: 48rem;
    max-width: 100%;
    transition: all 1s ease;  
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    box-shadow: 1.6rem 3.2rem 3.2rem rgba($color: black, $alpha: .7);
    border-radius: 5px;
    backface-visibility: hidden;
    &-front{
        
        &-fastfood{
            background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
            url(../1/img/menuimg/fastfoodback2.jpg);

            background-size: cover;
            background-position: bottom;
        }
        &-irani{
            background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
            url(../1/img/menuimg/iraniback2.jpg);

            background-size: cover;
            background-position: bottom;
        }
        &-salad{
            background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
            url(../1/img/menuimg/saladback3.JPG);

            background-size: cover;
            background-position: bottom;
        }

        } 
    &-back{
        background-image: linear-gradient(to right,
         rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)),
          url(../1/img/menuimg/menuback.jpeg);

        background-size: cover;
        background-position: bottom;
        transform: rotateY(180deg);

    }
    }
    
    &:hover &-side-front{
        transform: rotateY(-180deg);
    }
    &:hover &-side-back{
        transform: rotateY(0);
    }
    @media only screen and (max-width: 56.25em),
    only screen and (hover: none){
        height: auto;
        max-width: 90%;
        margin: 0 auto;
        box-shadow: 1.6rem 3.2rem 3.2rem rgba($color: black, $alpha: .7);
        border-radius: 5px;
    
        &:not(:last-child){
            margin-bottom: 5rem;
        }
        p{
            font-size: 4rem;
            color: whitesmoke;
            position: absolute;
            top: unset;
            bottom: 0;
            right: 0;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
            background-color: rgba($color: $orange, $alpha: .4);
            display: inline-block;
            padding: .1rem 7rem .1rem .2rem;
            z-index: 1000;
        }
    
    
        &-side{
        height: auto;
        max-width: 100%;  
        position: relative;
        box-shadow: none;
        border-radius: 0;
        backface-visibility: hidden;

            &-back{
                transform: rotateY(0);
            }
        }
        
        &:hover &-side-front{
            transform: rotateY(0);
        }
    }

}