
// -----------------subscribe form------------------
.subscribe{
    margin-top: 1rem;
    .ideasubmit{
        width: 3.2rem;
        height: 3.2rem;
        outline: none;
        background-color: unset;
        border: 1px solid $orange;
        color: $orange;
        display: inline-block;
        &:hover{
            background-color: $orange;
            color: unset;
        }
    }

    input{
        display: inline-block;
        margin-top: .8rem;
        width: 70%;
        height: 3.2rem;
        border-radius: 3px;
        @include respond(phone){
            width: 100%;
        }

    }
    h2{
        color: rgba($color: $orange, $alpha: .7);
        font-family: iransans;
        font-size: 2rem;
    }            
}