body{
    font-family: iransans;
}
.homepage{
    padding: 0 2rem;
    background-color : rgba(19, 19, 19, 0.815);
    direction: rtl;
    @include respond(tab-land){
    padding: 0;
    }
    @include respond(big-desktop){
    padding: 0 4rm;    
    }
}

/* -----------top img---------- */
.topimgdiv{
    background-image: url(../1/food2.jpeg);
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 95vh;
    border-bottom: $orange solid .8rem;
    position: relative;
        
    .toptext{
        font-size: 5rem;
        position: absolute;
        top: 30%;
        right: 50%;
        transform: translate(50%, 50%);
        margin-bottom: 2rem;
        color: transparent;
        background-image: linear-gradient(to right, $orange , darken($color: $orange, $amount: 20%));
        -webkit-background-clip: text;
    }
    @include respond(phone){
        height: 60vh;
    }
}
// ----------gallery----------------
.albumsec{
    background-color: $background-color;
    direction: rtl;
        .albumLsec{
            padding: .4rem .8rem;
            &-title{
                font-size: 3rem;
                color: $orange;
                padding-right: 2rem;
            }
            p{
                font-size: 2rem;
                color: whitesmoke;
                display: inline-block;
                padding-right: 2.2rem;
                text-align: justify;
            }
            h4{
                color: $orange;
                font-size: 1.8rem;
                padding-right: 1.6rem;
                display: inline-block;
                margin-bottom: 1.6rem;
            }
            
            @include respond(phone){
                .row{
                    width: 100%;
                    .albumLsec-extention{
                        width: 50%;
                        float: right;
                    }
                }   
            }
        }

        .album{
        position: relative;
        height: 100vh;
        &-title{
            color: $titlecolors;
            font-size: 2.8rem;
            background-color: $titleback;
            &-p{
                display: inline-block;
                border-right: 1px solid $orange;
                padding: 0 4rem;
                margin-top: 1rem;
            }
        }
        &-photo{
            width: 52%;
            height: 28%;
            position: absolute;
            border-radius: 4px;
            z-index: 10;
            transition: all .4s;
            outline-offset: 1rem;
            filter: grayscale(50%);
            border: 1px solid rgba($color: black, $alpha: .8);
            &-1{
                left: 2%;
                top: 0;
                transform: rotate(12deg);
            }
            &-2{
                right: 2%;
                top: 10%;
                
                transform: rotate(5deg);
            }    
            
            &-3{
                left: 2%;
                top: 20%;
                transform: rotate(-12deg);
                
            }
            &-4{
                right: 2%;
                top: 30%;
                
                transform: rotate(-8deg) scale(1);
            }
            &-5{
                left: 2%;
                top: 40%;
                transform: rotate(13deg) scale(1);
                
            }
            &-6{
                right: 2%;
                top: 50%;
                transform: rotate(-9deg) scale(1);
                
            }
            &-7{
                left: 2%;
                top: 60%;
                transform: rotate(4deg) scale(1);
                
            }
            &-8{
                right: 2%;
                top: 70%;
                transform: rotate(-12deg) scale(1);
                
            }
            &-9{
                left: 2%;
                top: 80%;
                transform: rotate(12deg) scale(1);
                
            }
            &:hover{
                transform: translateY(-.5rem) rotate(0deg) scale(1.1);
                outline: 4px solid $orange;
                z-index: 20;
                filter: grayscale(0%);
                border-radius: 2px;
            }
        }
        &:hover &-photo:not(:hover){
            transform: rotate(0) scale(.50);
        }
    }
}    
//  -------menu--------
.menusec{
    background-color: $titleback;
    padding: .3rem 0rem 8rem .8rem;
    direction: rtl;
    &-title{
        color: $titlecolors;
        font-size: 3.8rem;
        background-color: $titleback;
        &-p{
            display: inline-block;
            border-right: 1px solid $orange;
            padding: 0 4.5rem;
            margin-top: .8rem;
        }
    }

}
.menuitem{
    font-size: 1.5rem;
    color: whitesmoke;
    position: relative;
    border-bottom: 1px solid rgba($color: whitesmoke, $alpha: .4);
    width: 98%;
    margin: auto;
    margin-top: 1.3rem;
    @include respond(tab-port){
        font-size: 2rem;
    }
    @include respond(phone){
        padding: .5rem 0;
        font-size: 2rem;
        
    }

    &-title{
        font-size: 2.6rem;
        color: $orange;
    }
    &-name{
        display: inline-block;
        @include respond(tab-port){
            display: block;
        }
    }
    &-price{
        display: inline-block;
        position: absolute;
        top: 0;
        left: 30%;
        font-size: 1.7rem;
        @include respond(phone){
            display: block;
            position: unset;
        }
    }
    &-rec{
        display: block;
        color: green;
        font-size: 1.4rem;
        margin-top: 0;
    }
    &-add{
        font-size: 2rem;
        display: inline-block;
        padding: .7rem .9rem;
        position: absolute;
        top: -20%;
        left: .8rem;

        @include respond(phone){
            top: 30%;
        }

        a{
            color: $orange;
        }
        &:hover{
        color: white;
        background-color: $orange;
        a{
            color: unset;
        }            
        }
    }
}