footer{
    text-align: center;
    direction: ltr;
}
.about{
    width: 100%;
    height: 28rem;
    background-color: black;
    border-top: 2px solid $orange; 
    margin: auto;
    &-title{
        color: $orange;
        font-size: 4.4rem;
        float: left;
    }
    .contactus{
        height: 40%;
        padding-top: 1.8rem;
        &-icon{
            background-color: $orange;
            color: unset;
            border-radius: 50%;
            display: inline-block;
            padding: 1.4rem;
            font-size: 2rem;
        }
        &-text{
            color: #464646;
            display: inline-block;
            margin: 1rem;
            font-size: 1.3rem;
        }
    }
    .aboutpart{
        height: 55%;
        color: #464646;
        text-align: left;

        .introduce{
            padding-left: 1.6rem;
            padding-top: 1rem;
            h2{
                color: rgba($color: $orange, $alpha: .7);
                font-size: 2rem;
            }
            &-role{
                display: inline-block;
                padding-top: 1.6rem;
                font-size: 1.5rem;
            }
            &-name{
                display: inline-block;
                padding-top: 1.6rem;
                font-size: 1.5rem;
            }
        }

    }
}
