// -----------------gallery
.albumsec .row{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 0 auto;
    background-color: $background-color;
    float: left;
    padding: .5rem 3.2rem ;

    .albumLsec{
        width: 45%;
    }
    .albumRsec{
        width: 55%;
    }
    @include respond(tab-land){
        padding: 0 2.5rem;
        flex-direction: column;
        .albumLsec{
            width: 100%;
        }
        .albumRsec{
            width: 100%;
        }
        }

}
// ----------------form
form{
    .row{
        width: 100%;
        float: left;
        &-1{
            width: 50%;
            float: left;
        }
        &-2{
            width: 50%;
            float: left;
            text-align: right;
        }
    }
}


// ----------------menu
// ....card1
.card-side{
    height: 100%;
    @include respond(tab-port){
        height: unset;
        &-front{
            height: 30rem;
        }
        &-back{
            height: 60rem;
        }
    }
}


.card-side-back-fastfood .row{
    width: 98%;
    margin: 0 auto;
    float: left;
    height: 100%;
    @include respond(tab-port){
        height: auto;
    }
    
    .menubackR{
        width: 33%;
        height: 100%;
        float: left;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2); 
        position: relative;
        .friedpic{
            position: absolute;
            bottom: 1.6rem;
            left: 1.6rem;
            width: 80%;
            height: 35%;
            display: none;
        }                
    }
    .menubackM{
        width: 33%;
        height: 100%;
        float: left;    
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);  
        position: relative;
        .burgerpic{
            position: absolute;
            bottom: 1.6rem;
            left: 1.6rem;
            width: 80%;
            height: 35%;
            display: none;
        }        
    }
    .menubackL{
        width: 33%;
        height: 100%;
        float: left;
        position: relative;
        .pizza{
            position: absolute;
            bottom: 1.6rem;
            left: 1.6rem;
            width: 80%;
            display: none;
        }

    }
    @include respond(tab-port){
    .menubackR{
        width: 50%;
        height: auto;
        float: right;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);
        .friedpic{
            display: none;
        }
    }
    .menubackM{
        height: auto;
        width: 50%;
        float: right;
        border: none;
        .burgerpic{
            display: none;
        }
    }
    .menubackL{
        width: 50%;
        height: auto;
        float: right;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);
        .pizza{
            display: none;
        }
    }
    }
}
// ...card2
.card-side-back-irani .row{
    width: 98%;
    margin: 0 auto;
    float: left;
    height: 100%;
    @include respond(tab-port){
        height: auto;
    }
    .menubackR{
        width: 33%;
        height: 100%;
        float: left;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);         
    }
    .menubackM{
        width: 33%;
        height: 100%;
        float: left;    
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);
    }
    .menubackL{
        width: 33%;
        height: 100%;
        float: left;
    }
    @include respond(tab-land){
        .menubackR{
            height: auto;
            width: 50%;
            float: right;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);
            
        }
        .menubackM{
            height: auto;
            width: 50%;
            float: right;
            border: none;
        }
        .menubackL{
            width: 50%;
            height: auto;
            float: right;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);

        }
        }
}
// ...card3
.card-side-back-salad .row{
    width: 98%;
    margin: 0 auto;
    float: left;
    height: 100%;
    
    .menubackR{
        width: 50%;
        height: 100%;
        float: left;
        border-left: 1px dotted rgba($color: whitesmoke, $alpha: .2);         
    }
    .menubackL{
        width: 50%;
        height: 100%;
        float: left;
    }
}
// ...footer
.contactus .row{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    border-bottom: 1px solid rgba($color: $orange, $alpha: .5);
    
    .contactusL{
        width: 33.3%;
        height: 100%;
        float: left;     
    }
    .contactusM{
        width: 33.3%;
        height: 100%;
        float: left;      
    }
    .contactusR{
        width: 33.3%;
        height: 100%;
        float: left;
    }
    @include respond(phone){
        width: 95%;
        .contactusL{
            width: 49%;
            height: 100%;
            float: left;     
        }
        .contactusM{
            width: 49%;
            height: 100%;
            float: left;      
        }
        .contactusR{
            display: none;
        }       
    }
}

.aboutpart .row{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    
    .aboutpartL{
        width: 50%;
        height: 100%;
        float: left;     
    }
    .aboutpartR{
        width: 50%;
        height: 100%;
        float: left;
    }
    @include respond(phone){
        width: 95%;
    }
}
// ............................signup-page..............................
.sign .row{
    width: 100%;
    height: 100%;
    .form-1{
        width: 50%;
        float: left;
        margin: 0 auto;
        height: 100%;
    }
    .form-2{
        width: 50%;
        height: 100%;
        float: left;
        margin: 0 auto;
    }
    @include respond(tab-port){
        perspective: 150rem;
        -moz-perspective: 150rem;
        height: 48rem;
        max-width: 100%;
        position: relative;
        
        .form{
        height: 48rem;
        max-width: 100%;
        transition: all 1s ease;  
        position: absolute;
        float: none;
        top: 0;
        right: 0;
        width: 100%;
        box-shadow: 1.6rem 3.2rem 3.2rem rgba($color: black, $alpha: .7);
        border-radius: 5px;
        backface-visibility: hidden;
        &-2{
            transform: rotateY(180deg);
            opacity: 1;
        }
        }
        
        &:hover form-1{
            transform: rotateY(-180deg);
            opacity: 1;
        }
        &:hover form-2{
            transform: rotateY(0);
            opacity: 1;
        }
    }
}

