.fixedtop{
    display: inline-block;
    position: fixed;
    top: .4rem;
    width: 98%;
    margin: auto;
    background-color: rgba(10, 10, 10, 0.507);
    z-index: 100;
    .topright{
        width: 80%;
        font-size: 1.5rem;
    
        .home{
            display: inline-block;
            border-bottom: solid 2px $orange;
            padding: .8rem 1.2rem;
            font-size: 2.8rem;

        }
        .orange{
            
            color: $orange;
        }
        .aboutus{
            display: inline-block;
            padding: .8rem 1.2rem;
        }
        .menu{
            display: inline-block;
            padding: .8rem 1.2rem;
        }
        .gallery{
            display: inline-block;
            padding: .8rem 1.2rem;
        }
        .sign-box{
            display: inline-block;
            padding: .8rem 1.2rem;
        }
        .calling{
            display: inline-block;
            padding: .8rem 1.2rem;
        }
        a:link, :visited{
            color: white;
        }
        .kartbox{
            font-size: 2rem;
            display: inline-block;
            padding: .8rem 1.5rem;
            margin-bottom: 2px;
            margin-right: 2rem;
            a{
                color: $orange;
            }
            &:hover{
            color: white;
            background-color: $orange;
            a{
                color: unset;
            }            
            }

        }
        .top:hover{
            border-bottom: solid white 3px;
        }

    }
    
    .topleft{
        width: 20%;

        position: absolute;
        top: .5rem;
        left: 1.5rem;
        text-align: left;
    
        .logo{
            font-size: 2rem;
            color: $orange;
        }

    }
    @include respond(tab-port){
    display: none;
    }
    }
       