.nav{
    display: none;
    font-family: iransans;
    &-checkbox{
        display: none;
    }
    &-toggle{
        position: fixed;
        top: 1rem;
        right: 2rem;
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        background-color: whitesmoke;
        box-shadow: 1rem 1rem 2rem rgba(0, 0, 0, .5);
        z-index: 500;
        cursor: pointer;
        text-align: center;
    }
    &-icon{
        position: relative;
        margin-top: 2.5rem;
        &, &::before, &::after{
            width: 2.5rem;
            height: 2px;
            background-color: black;
            display: inline-block;
            border-radius: 2px;
            backface-visibility: hidden;
        }
        &::before, &::after{
            content: "";
            position: absolute;
            left: 0;
            transition: all .4s;
        }
        &::before{
            top: -.7rem;
        }
        &::after{
            top: .7rem;
        }  
    }
    &-toggle:hover &-icon::before{
        top: -1rem;
    }
    &-toggle:hover &-icon::after{
        top: 1rem;

    }
    &-checkbox:checked + &-toggle &-icon{
        background-color: transparent;

    }
    &-checkbox:checked + &-toggle &-icon::before{
        top: 0;
        transform: rotate(135deg);        
    }
    &-checkbox:checked + &-toggle &-icon::after{
        top: 0;
        transform: rotate(-135deg);       
        
    }

    &-checkbox:checked ~ &-nav{
        width: 55%;
    }
    &-checkbox:checked ~ &-back{
        width: 100%;
    }
    &-checkbox:checked ~ &-nav &-list{
        visibility: visible;
        opacity: 1;
    }
    &-nav{
        position: fixed;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background-color: $nav-back;
        border-left: 2px solid $orange;
        z-index: 400;
        transition: all .4s .2s;
    }
    &-back{
        position: fixed;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: rgba(0, 0, 0, .6);
        z-index:100;
    }
    &-list{
        position: fixed;
        top: 10%;
        right: 2%;
        visibility: hidden;
        opacity: 0;
        transition: all .4s .3s;
    }
    &-item{
        text-decoration: none;
        list-style: none;
        font-size: 2rem;
        text-align: right;
        border-radius: 2px;
        background-image: linear-gradient(105deg,
         transparent 0%,
         transparent 50%,
        whitesmoke 50%);
        background-size: 250%;
        padding: .5rem 1.5rem;
        transition: background-position .4s;
        &:not(:last-child){
            margin-bottom: 2rem;
        }
        &:hover{
            background-position: 100%;
        }
        &:hover .nav-link{
            color: $nav-back;

        }

    }
    &-link{
        &:link,
        &:visited{
            color: white;
        }
        &:hover,
        &:active{
            color: $nav-back;
        }
    }
    @include respond(tab-port){
    display: inline;
    }
}