// -------------------signin-------------------//

.sign{
    &-back{
    font-family: iransans;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color: black, $alpha: .8);
    width: 100vw;
    height: 100vh;
    z-index: 1500;
    display: none;
    }
    &-in{
        direction: rtl;
        padding: 2.5rem;
        padding-top: 2rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: $sign-back;
        width: 35vw;
        height: auto;
        z-index: 2000;
        display: none;
        @include respond(tab-port){
            width: 70vw;
        }
    }
    &-up{
        direction: rtl;
        padding: 2.5rem;
        padding-top: 2rem;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 5px;
        background-color: $sign-back;
        width: 35vw;
        height: 60vh;
        z-index: 2000;
        display: none;
        @include respond(tab-port){
            width: 70vw;
        }
    }

}


// ---------------------signup------------------//
.form{
        font-family: iransans;
        height: 100%;
        padding: 1rem;
        padding-top: 0;
        position: relative;
        h2{
            margin-bottom: 2rem;
            justify-content: left;
            font-size: 2.5rem;
        }
        &-box{
            margin-left: auto;
            width: 100%;
            &:not(:last-child){
            margin-bottom: 2.5rem;  
            position: relative;
            }
        }
        &-input{
            font-size: 2.2rem;
            position: relative;
            width: 100%;
            margin: auto;
            background-color: unset;
            border: 1px solid grey;
            border-radius: 3px;
            padding: 1rem 3.5rem;
            display: inline-block;
            font-family: inherit;
            transition: all .8s;
            &:focus{
                outline: none;
                border: 1px solid blueviolet;
            }

            &::-webkit-input-placeholder{
                color: rgb(10, 10, 10);
                font-size: 2.2rem;
            }
        }
            &-label{
            font-size: 1.9rem;
            transition: all .3s ease-in;
            color: $form-color;
            background-color: $sign-back;
            display: inline-block;
            position: absolute;
            top: 3.4rem;
            left: 3.2rem;
            padding: .1rem .6rem;
            }

            a{
                bottom: 2rem;
                right: 4rem;
                font-size: 1.8rem;
                color: blueviolet;
                border-bottom: 1px dotted blueviolet;
                padding: .5rem 1rem;
            }

    &-input:placeholder-shown + &-label{
        opacity: 0;
        visibility: hidden;
        font-size: 2.2rem;
        transform: translate(0, -2rem);
    }
    &-input:placeholder-shown ~ &-icon{
        color: black;
    }
    &-icon{
        position: absolute;
        top: 50%;
        left: 2%;
        transform: translateY(-50%);
        font-size: 2rem;
        color: blueviolet;
        backface-visibility: hidden;
    }

}
